<div class="jumbotron">
  <h1>Welcome to Parcelamatic! <br>Enter your parcel's length, width, height, and volume</h1>
  <form action="/results">
    <div class="form-group">
      <label for="length">length</label>
      <input id="length" name="length" class="form-control" type="number">
      <label for="width">Width</label>
      <input id="width" name="width" class="form-control" type="number">
      <label for="height">Height</label>
      <input id="height" name="height" class="form-control" type="number">
      <label for="weight">Weight</label>
      <input id="weight" name="weight" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-danger">Parcelamatic go!</button>
  </form>
</div>
