<div class ="well">
  <h5><em>Your parcel length is:</em> <%= @length %></h5>
   <h5><em>Your parcel width is:</em> <%= @width %></h5>
    <h5><em>Your parcel volume is:</em> <%= @volume %></h5>
   <h5><em>And your total cost is:</em> <%= @price %></h5>
</div>
